<div class="container-fluid">
  <h2>Volunteer Logons</h2>
  <form class="form-inline" #showLoginsForm="ngForm" (ngSubmit)="getVolunteerLoginsSinceDate(daysBack.value)">
    <label for="daysBack">Show logins&nbsp;</label>
    <input type="text" id="daysBack" name="daysBack" [ngModel]="defaultDaysBack" #daysBack="ngModel">
    <label for="daysBack">&nbsp;days back</label>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

    <table class="table">
      <thead>
        <th>Name</th>
        <th>Classes</th>
        <th>FirstLogon</th>
        <th>LastLogon</th>
        <th>Logons</th>
      </thead>
      <tbody>
        <tr *ngFor="let volunteer of volunteersWithLogons | sortName">
          <td>{{volunteer.firstName}} {{volunteer.lastName}}</td>
          <td>
            <div *ngFor="let class of volunteer.classes; index as i">
              {{class}} Grade: {{volunteer.grades[i]}}
            </div>
          </td>
          <td>{{volunteer.firstLoginDate | date:'M/d/y, h:mm a EEEE'}}</td>
          <td>{{volunteer.lastLoginDate | date:'M/d/y, h:mm a EEEE'}}</td>
          <td>
            <div *ngFor="let logon of volunteer.logons | sortDate:'logonTime'">
              {{logon.logonTime | date:'M/d/y, h:mm a EEEE'}}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</div>
