<div class="container">
  <app-add-book (onBookAdded)="bookAdded($event)"></app-add-book>

  <hr>

  <form class="form-inline" [formGroup]="searchBookForm">
    <label for="searchType">Book Search</label>
    <select id="searchType" class="form-control" formControlName="searchType">
      <option>Title</option>
      <option>Author</option>
      <option>ReadingLevel/Box</option>
    </select>
    <input id="searchText" class="form-control" formControlName="searchText" (keyup.enter)="searchBooks()" >
    <button class="btn btn-primary" (click)="searchBooks()">Search</button>
    <button class="btn btn-secondary" (click)="exportToTab()">Export To File</button>
  </form>

  <div>
      <data-table id="books-grid" headerTitle="Books"
        [items]="bookList.books"
        [itemCount]="bookList.count"
        (reload)="refreshBookList($event)"
        >
        <data-table-column
          [property]="'title'"
          [header]="'Title'"
          [resizable]="true">
        </data-table-column>
        <data-table-column
          [property]="'author'"
          [header]="'Author'"
          [resizable]="true">
        </data-table-column>
        <data-table-column
          [property]="'guidedReadingLevel'"
          [header]="'Reading Level'"
          [resizable]="true">
        </data-table-column>
        <data-table-column
          [property]="'publisherText'"
          [header]="'Publisher Text'"
          [resizable]="true">
        </data-table-column>
        <data-table-column
          [property]="'boxNumber'"
          [header]="'Box'"
          [resizable]="true">
        </data-table-column>
        <data-table-column
          [property]="'isbn'"
          [header]="'ISBN'"
          [resizable]="true">
        </data-table-column>
        <data-table-column
          [property]="'bookCopyCount'"
          [header]="'Copies'"
          [resizable]="true">
        </data-table-column>
      </data-table>
    </div>
</div>
