<div class="container">
  <h2>Add Book</h2>

  <form [formGroup]="addBookForm">
    <label for="formReadingLevel">Reading Level</label>
    <select class="form-control" id="formReadingLevel" formControlName="readingLevel" #readingLevel>
      <option>A</option>
      <option>B</option>
      <option>C</option>
      <option>D</option>
      <option>E</option>
      <option>F</option>
      <option>G</option>
      <option>H</option>
      <option>I</option>
      <option>J</option>
      <option>K</option>
      <option>L</option>
      <option>M</option>
      <option>N</option>
      <option>O</option>
      <option>P</option>
      <option>Q</option>
    </select>
    <label for="formBoxNumber">Box Number</label>
    <select class="form-control" id="formBoxNumber" formControlName="boxNumber" #boxNumber>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>11</option>
      <option>12</option>
      <option>13</option>
    </select>
    <label for="formISBN">ISBN:</label>
    <input type="text" id="formISBN" class="form-control" formControlName="isbn" #isbn
      (keyup.enter)="onIsbnEntered()" (blur)="onIsbnEntered()">

    <div class="form-group" *ngIf="currentBook && !editingBook">
      <p>Title: {{currentBook.title}}</p>
      <p>Author: {{currentBook.author}}</p>
      <p>Publisher Text: {{currentBook.publisherText}}</p>
      <button type="button" class="btn btn-primary" (click)="startEditingBook()">Edit Book</button>
    </div>

    <div class="form-group" *ngIf="newBook && !currentBook">
      <p>Could not find book with that ISBN.</p>
      <label for="formTitle">Title:</label>
      <input type="text" id="formTitle" class="form-control" formControlName="title" #title>
      <label for="formAuthor">Author:</label>
      <input type="text" id="formAuthor" class="form-control" formControlName="author" #author
        (keyup.enter)="addNewBook()">
      <button type="button" class="btn btn-primary" (click)="addNewBook()">Add Book</button>
    </div>

    <div class="form-group" *ngIf="editingBook && currentBook">
        <label for="formEditTitle">Title:</label>
        <input type="text" id="formEditTitle" class="form-control" formControlName="editTitle" #editTitle>
        <label for="formEditAuthor">Author:</label>
        <input type="text" id="formEditAuthor" class="form-control" formControlName="editAuthor" #editAuthor>
        <button type="button" class="btn btn-primary" (click)="updateBook()">Update Book</button>
    </div>

    <div class="form-group" *ngIf="currentBook">
      <label for="formBookBarcode">Book Barcode:</label>
      <input type="text" id="formBookBarcode" class="form-control" formControlName="bookCopyBarCode"
        (keyup.enter)="onBookCopyEntered()">
      
      <div *ngIf="currentBook.bookCopyCount > 0">
        <p>Existing Bar Codes</p>
        <ul>
          <li *ngFor="let bookCopy of currentBook.bookCopies">
            {{bookCopy.barCode}} 
            <span *ngIf="bookCopy.isLost">Lost: {{bookCopy.lostDate | utcDate | date:'shortDate'}}</span>
            <span *ngIf="bookCopy.isDamaged">Damaged: {{bookCopy.damagedDate | utcDate | date:'shortDate'}}</span>
            <button *ngIf="!bookCopy.isLost && !bookCopy.isDamaged" type="button" class="btn btn-danger btn-xs" (click)="removeBookCopy(bookCopy.barCode)">Delete</button>
            <button *ngIf="!bookCopy.isLost && !bookCopy.isDamaged" type="button" class="btn btn-info btn-xs" (click)="markBookCopyLost(bookCopy.barCode)">Mark Lost</button>
            <button *ngIf="bookCopy.isLost && !bookCopy.isDamaged" type="button" class="btn btn-info btn-xs" (click)="markBookCopyFound(bookCopy.barCode)">Mark Found</button>
            <button *ngIf="!bookCopy.isLost && !bookCopy.isDamaged" type="button" class="btn btn-info btn-xs" (click)="markBookCopyDamaged(bookCopy.barCode)">Mark Damaged</button>
            <button type="button" class="btn btn-info btn-xs" (click)="addComments(addComment, bookCopy.barCode, bookCopy.comments)">{{bookCopy.comments ? "Edit" : "Add"}} Comments</button>
            <ul><li *ngIf="bookCopy.comments">Comments: {{bookCopy.comments}}</li></ul>
          </li>
        </ul>
      </div>
    </div>
  </form>

</div>

<ng-template #addComment>
  <div class="modal-header">
      <h4 class="modal-title pull-left">Book Comments</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <div class="modal-body">
    <textarea [(ngModel)]="currentBookComment" rows="5" cols="60"></textarea>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="saveBookComment()">Save</button>
      <button type="button" class="btn btn-outline-dark" (click)="modalRef.hide()">Close</button>
  </div>
</ng-template>
