<div>
  <h2>Check Out Books</h2>
  <button type="button" class="btn btn-primary" (click)="displayAddNewStudentModal(addNewStudentContent)">Add New Student...</button>
  
  <form [formGroup]="checkOutBookForm">
    <label for="formStudentBarCode">Student:</label>
    <input type="text" id="formStudentBarCode" class="form-control" 
      formControlName="studentBarCode" #studentBarCode
      (keyup.enter)="onStudentBarCodeEntered()" autocomplete="off">

    <div class="form-group bg-success" *ngIf="currentStudent">
      <p>Teacher: {{currentStudent.teacherName}}
      <p>Student Name: {{currentStudent.student.firstName}} {{currentStudent.student.lastName}}</p>
    </div>

    <div class="form-group" *ngIf="currentStudent">
      <label for="formBookBarcode">Book Barcode:</label>
      <input type="text" id="formBookBarcode" class="form-control" formControlName="bookCopyBarCode"
        (keyup.enter)="onBookCopyEntered()" autocomplete="off">
    </div>

    <div class="form-group bg-success" *ngIf="currentBook">
      <p>Book Title: {{currentBook.title}}</p>
      <p>Book Author: {{currentBook.author}}</p>
    </div>

    <audio style="display: none;" id="notificationSuccess" preload src="/media/success.wav"></audio>
    <audio style="display: none;" id="notificationFailure" preload src="/media/failure.wav"></audio>
  </form>
  <div class="container-fluid">
    <div class="row" *ngFor="let logEntry of checkoutLog">
      <p>{{logEntry.logDate | date:'mediumTime'}}
      <span class="bg-warning" *ngIf="logEntry.error && logEntry.book">Error checking out book <b><u>{{logEntry.book.title}}</u></b> 
        for student <i>{{logEntry.student.student.firstName}} {{logEntry.student.student.lastName}}</i>: {{logEntry.error}}</span>
      <span class="bg-warning" *ngIf="logEntry.error && (!logEntry.student)">{{logEntry.error}}</span>
      <span class="bg-warning" *ngIf="logEntry.error && (logEntry.student && !logEntry.book)">While trying to check out book for 
          <i>{{logEntry.student.student.firstName}} {{logEntry.student.student.lastName}}</i>: {{logEntry.error}}</span>
      <span class="bg-success" *ngIf="!logEntry.error && logEntry.student && logEntry.book">Successfully checked out book <b><u>{{logEntry.book.title}}</u></b> 
        for student <i>{{logEntry.student.student.firstName}} {{logEntry.student.student.lastName}}</i></span>
      </p>
    </div>
  </div>
</div>

<ng-template #addNewStudentContent>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add New Student</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
      <label for="formClass">Teacher:</label>
      <select class="form-control" id="formClass" [(ngModel)]="selectedClassId">
        <option value="">(Select a teacher)</option>
        <option *ngFor="let cls of (classes | sortClass)" [ngValue]="cls.classId">{{cls.teacherName}} Grade: {{cls.grade}}</option>
      </select>
      <app-add-student [classId]="selectedClassId" [allowBarCodeEntry]="true" (onSaved)="studentSaved()"></app-add-student>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modalRef.hide()">Close</button>
    </div>
  </ng-template>