<div  class="form-group">
    <label for="formClass">Teacher:</label>
    <select class="form-control" id="formClass" [(ngModel)]="selectedClassId"
        (change)="displayClassListForCurrentTeacher()">
      <option value="">(Select a teacher)</option>
      <option *ngFor="let cls of (classes | sortClass)" [ngValue]="cls.classId">{{cls.teacherName}} Grade: {{cls.grade}}</option>
    </select>

    <label for="formStudent">Student:</label>
    <select class="form-control" id="formStudent" [(ngModel)]="selectedStudentId"
      (change)="displayStudentReservationHistory()" [disabled]="!selectedClassId" >
      <option value="">(Select a student)</option>
      <option *ngFor="let student of (selectedClass?.students | sortName)" [ngValue]="student.barCode">{{student.lastName}}, {{student.firstName}}</option>
    </select>
</div>

<table class="table" *ngIf="selectedStudentId">
    <thead>
      <th>Bar Code</th>
      <th>Title</th>
      <th>Author</th>
      <th>Box</th>
      <th>Checked Out</th>
      <th>Checked In</th>
    </thead>
    <tbody>
      <tr *ngFor="let res of reservations">
        <td>{{res.bookCopy.bookCopyBarCode}}</td>
        <td>{{res.bookCopy.title}}</td>
        <td>{{res.bookCopy.author}}</td>
        <td>{{res.bookCopy.guidedReadingLevel}}{{res.bookCopy.boxNumber}}</td>
        <td>{{res.checkedOutDate | utcDate | date:'shortDate'}}</td>
        <td>{{res.checkedInDate | utcDate | date:'shortDate'}}</td>
      </tr>
    </tbody>
  </table>