<div class="container">
  <ng-template #addNewClassContent>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add New Class</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
      <app-add-class (onClassAdded)="onClassAdded($event)"></app-add-class>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modalRef.hide()">Close</button>
    </div>
  </ng-template>

  <div *ngIf="classes" class="form-group">
    <label for="formClass">Teacher:</label>
    <select class="form-control" id="formClass" 
        (change)="displayClassListForCurrentTeacher($event.target.value)">
      <option value="">(Select a teacher)</option>
      <option *ngFor="let cls of (classes | sortClass)" [value]="cls.classId">{{cls.teacherName}} Grade: {{cls.grade}}</option>
    </select>
    <button type="button" class="btn btn-primary" (click)="addNewClass(addNewClassContent)">Add New Class</button>
  </div>

  <div *ngIf="selectedClassId">
    <div *ngIf="!currentClass">
      Loading...
    </div>
    <div *ngIf="currentClass">
      <app-add-student [classId]="selectedClassId" (onSaved)="onNewStudent($event)"></app-add-student>

      <data-table id="students-grid" headerTitle="Students"
        [items]="currentClass.students"
        [itemCount]="currentClass.students.length"
        >
        <data-table-column
          [property]="'firstName'"
          [header]="'First Name'"
          [resizable]="true">
        </data-table-column>
        <data-table-column
          [property]="'lastName'"
          [header]="'Last Name'"
          [resizable]="true">
        </data-table-column>
        <data-table-column
          [property]="'barCode'"
          [header]="'Bar Code'"
          [resizable]="true">
        </data-table-column>
      </data-table>
    </div>
  </div>
</div>