<div class="container">
  <form [formGroup]="addStudentForm" (ngSubmit)="onSubmit()" class=form-inline>
      <input type="text" class="form-control mr-sm-2" formControlName="firstName" placeholder="First Name" 
        id="firstName" required>
      <input type="text" class="form-control mr-sm-2" formControlName="lastName" placeholder="Last Name" required>
    
      <button type="submit" [disabled]="addStudentForm.pristine || addStudentForm.invalid" class="btn btn-primary">Add Student</button>
  </form>
</div>